[user]
    name = Jon Solakis
    email = jonsolakis@gmail.com

[core]
    editor = nvim
    hooksPath = /Users/jon/qm/gh/scripts/git/hooks
    whitespace = blank-at-eol,blank-at-eof,space-before-tab

[push]
    autoSetupRemote = true
    default = simple
    followTags = true
[init]
    defaultBranch = main

[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
    wsErrorHighlight = all

[fetch]
    prune = true
    pruneTags = true
    all = true
[help]
    autocorrect = prompt

[alias]
    branches = branch -a
    c = commit --verbose
    ca = commit --all --verbose
    contributors = shortlog --summary --numbered
    d = !git --no-pager diff --patch-with-stat
    dm = !git branch --merged | grep -v '\\*\\|master\\|main\\|development' | sed 's/^[[:space:]]*//g' | xargs -r git branch -d
    fc = !f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f
    graph = log --graph --decorate --pretty=format:'%C(blue)%d%Creset %C(yellow)%h%Creset %s, %C(bold green)%an%Creset, %C(green)%cd%Creset' --date=relative --all
    l = log --graph --decorate --pretty=format:'%C(blue)%d%Creset %C(yellow)%h%Creset %s, %C(bold green)%an%Creset, %C(green)%cd%Creset' --date=relative -n 20
    lg = !f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f
    now = commit --amend --date=now
    remotes = remote -v
    s = status -s
    tags = tag -l
    amend = commit --all --amend --no-edit
    fp = push origin --force
    alias = "! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | grep -v ^'alias '"


[pull]
	rebase = true
[pager]
    diff = diffnav

[delta]
    light = true
    true-color = always
    syntax-theme = Catppuccin Latte
    zero-style = syntax
    minus-style = syntax "#f2cdcd"
    minus-emph-style = syntax "#eebebe"
    plus-style = syntax "#d6ecd0"
    plus-emph-style = syntax "#c4e7bd"
    file-style = bold "#1e66f5"
    hunk-header-style = syntax "#e6e9ef"
    whitespace-error-style = "#d20f39" "#f2cdcd" reverse

[includeIf "gitdir:~/qm/"]
    path = ~/.qm.gitconfig
